.page-services-list {
}

.products-title {
    font-family: math;
    border-style: double;
    border-color: #194f3f;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
}

.product-title{
    background-color: #194f3f;
    padding: 4px;
    color:white;
    border-radius: 10px;
}

.products-content{
    font-weight: bold;
}